/*creando paleta de colores*/
:root
{
    --blanco: #ffffff;
    --azul: #0097A7;
    --grisClaro:  #DFE9F3;
}
/** generalidades**/
html
{
    
    box-sizing: border-box;/*comando para solucionar el dilema de el tamaño de las cajas*/
    font-size: 62.5%;
    scroll-snap-type: y mandatory;/*agregando la opcion para q al hacer scroll se ubique en puntos especificos de la pagina*/
}
*,*:before,*:after{/* el selector * como esta aqui al inicio indica que seleciona todo los elementos del html*/
box-sizing: inherit;
}
body
{
    font-family: 'Kreon', serif;/*fuente sacada de google font*/
    /*font-family: Arial, Helvetica, sans-serif;/*esta es la forma de trabajar las fuentes por defecto*/
    background-color: var(--grisClaro);
    max-width: 120rem;/*toma el maximo de la pantalla hasta un maximo de los 120rem*/
    margin: 0 auto 0 auto;/*esta forma de hacer margin pone los 4 margenes, el primero significa arriba, segundo derecha, tercero abajo y cuarto izquierda*/
    font-size: 2.5rem;
}

h1
{
    font-size: 5rem;
}
h2
{
    font-size: 3.5rem;
}
h1,h2
{
    text-align: center;
}
.boton{
    background-color: var(--azul);
    color:var(--blanco);
    padding: 1rem 3rem;
    text-decoration:none;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.boton:hover{
    cursor: pointer;
}
@media(min-width: 768px) {
    .boton{
        width: auto;
    }
    
}

