:root
{
    /*creando paleta de colores*/
    --blanco: #ffffff;
    --azul: #0097A7;
    --grisClaro:  #DFE9F3;
}
html
{
    
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before,*:after
{
    box-sizing: inherit;
}
body
{
    font-family: 'Kreon', serif;
    background-color: var(--grisClaro);
    max-width: 120rem;
    margin: 0 auto 0 auto;
    font-size: 2.5rem;
}

h1
{
    font-size: 5rem;
}
h2
{
    font-size: 3.5rem;
}
h1,h2
{
    text-align: center;
}
.boton
{
    background-color: var(--azul);
    color:var(--blanco);
    padding: 1rem 3rem;
    text-decoration:none;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.boton:hover
{
    cursor: pointer;
}
@media(min-width: 768px) 
{
    .boton
    {
        width: auto;
    }
    
}

